@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --dark-cyan : hsl(158, 36%, 37%);
    --cream : hsl(30, 38%, 92%) ;
    --very-dark-blue :hsl(212, 21%, 14%);
    --dark-grayish-blue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);
    --dark-green :#1A4031;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
}
.attribution {
    margin-top: 20px;
    margin-bottom: 20px;
}
.attribution .name {
    font-weight: 700;
    font-size: 1.2rem;
    
    color: var(--dark-cyan);
}
.attribution .name:hover,
.attribution .name:focus {
    color: var(--very-dark-blue);
}
.card {
    max-width: 600px;
    margin: 2em;
    background-color: var(--white);
    display: flex;
    border-radius: 10px;
    
}
.left {
    background-image: url("./images/image-product-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    
}
.right {
    width: 50%;
    padding: 29px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.product-category {
    color: var(--dark-grayish-blue);
    letter-spacing: 4px;
    font-size: 0.8rem;
}

.product-title {
    font-family: 'Fraunces', serif;
    line-height: 1;
    color: var(--very-dark-blue);
}
.product-description {
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
    line-height: 1.6;
    
}
.prices {
    display: flex;
    align-items: center;
}
.updated-price {
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
    margin-right: 24px;
}
.previous-price {
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}
.btn-primary {
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 10px;
    color: var(--white);
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-primary:hover ,
.btn-primary:focus {
    background-color: #1A4031;
}

.cart-logo {
    margin-right: 8px;
}
.btn-text {
    font-weight: 700;
    font-size: 0.9rem;
}
@media screen and (max-width:600px) {
    body{
        padding: 1em;
    }
    .card {
        flex-direction: column;
    }
    .left {
        width: 100%;
        height: 240px;
        background-image: url("./images/image-product-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .right{
        width:100%;
        margin: 0 auto;
        padding: 25px;
    }
    .product-title {
        width: 280px;
    }
    .product-description {
        width: 320px;
    }
}